body{
    height: 100%;
    padding: 0;
    margin: 0;
}
h2{
    font-size: 2rem;  /* 設置標題字體大小 */
    letter-spacing: -1px;  /* 設置字母間距 */

    white-space:nowrap;
}
.preloader {
    background-color: #4A4A4A;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    animation: loading 0.7s infinite ease-in-out;
}
.text {
    white-space: nowrap;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 5px;
}
.text-background {
    color: White;
    text-shadow: 0 0 6px #DDA0DD;
}
.text-background2{
    color: #4A4A4A;
    font-family: 思源黑體 , 微軟正黑體 , 蘋方黑體 , 華康麗黑體 , Helvetica , Arial , sans-serif , serif;
}
.container {
    height: 10vh;
    position: relative;
    top: 20%;
    left:50%;
    text-align: center;
    display: inline-block;
}
.text-color {
    position: absolute;
    left: 0;
    top: 0;
    color: #ff85f5;
    width: 50%;
    overflow: hidden;
    animation: widthChange 4s infinite;
}
.circ1{
    animation-delay: 0s;
}
.circ2{
    animation-delay: 0.1s;
}
.circ3{
    animation-delay: 0.2s;
}
.circ4{
    animation-delay: 0.3s;
}

@keyframes loading {
    0% ,40%,100%{
        transform: translateY(0px);
    }
    20%{
        transform: translateY(-10px);
    }
}
@keyframes widthChange {
    0% {

        width: 0;
        color: #72c2a1;
    }
    25%{

        color: antiquewhite;
    }
    50%{

        color: cadetblue;
    }
    75%{

        color: #ff3e73;
    }
    100% {

        width: 100%;
    }
}
